
h1 {font-family: Tahoma, Arial, Verdana, sans-serif;
    color: 222E45;}

h3 {font-family: Tahoma, Arial, Verdana, sans-serif;
    color: 222E45;}

a {font-weight: bold; color: 404040; text-decoration: none;}

#search_url {
    font-size:1em;
    color:red;
}

#title {
    text-decoration: none;
}


ol {
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-weight: bold;
    color: 222E45;
}

#codebutton {
    font-family: Tahoma, Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: 222E45;
}

ol p {
    font-family: Times, Tahoma, Arial, Verdana, sans-serif;
    color: black;
    font-weight: normal;
    font-size:1em;
}

.headerlink {
    float: right;
    margin-left: 30px;
    text-align: right;
    font-family: Tahoma, Arial, Verdana, sans-serif;
    color: 222E45;
    font-size: 10pt;
    text-decoration: none;
}

#subhead {
    font-family: Tahoma, Arial, Verdana, sans-serif;
    color: 222E45;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;

}

   
hr {
    border: 0px;
    color: #EDEDED;
    background-color: #EDEDED;
    height: 3px;
	}

body 
{
	text-align: center;
	margin: 10px;		/* shift whole page down by 25 pixels */
	background-color: #EDEDED;
}


#mainForm 
{
	position: relative;
	border: 0px;
	margin: 0 auto;
	text-align: left;
	width: 53em;
	background-color: #ffffff;
	padding: 5px 25px 10px 25px;
}

ul.mainForm
{
	list-style-type: none;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-size:15px;	
	padding: 5px;
}

li.mainForm
{
    clear: both;
	padding-bottom: 10px;
}

fieldfull.mainForm
{
    float:left;
    width: 100%;
	padding-top: 5px;
	padding-bottom: 10px;
}

fieldleft.mainForm
{
    float:left;
	padding-top: 5px;
	padding-bottom: 10px;
}


fieldcenter.mainForm
{
    margin-left:  3em;
    float:left;
	padding-top: 10px;
	padding-bottom: 10px;
}

fieldright.mainForm
{
    margin-left:  3em;
    width: 25%;
    float:left;
	padding-top: 5px;
	padding-bottom: 10px;
}


	
.twocols {
    clear: both;
}	
	
#mainFormError
{
	position: relative;
	border: 1px;
	border-style: solid;
	margin: 0 auto;
	text-align: left;
	width: 70%;
}



input.mainFormError
{
	background-color: #FADADD;
}


textarea.mainFormError
{
	background-color: #FADADD;
}


select.mainFormError
{
	background-color: #FADADD;
}


#formHeader
{
	position: relative;
	width: 100%;
	background-color: #666699;
	margin:0 0 0 0;
	padding-bottom: 10px;
}

p.formHeader
{
	text-align: right;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #ffffff;
	font-size:25px;
	position:relative;
	left:-5px;
	top:4px;
	letter-spacing: 2px;
}



#formInfo
{
	position: relative;
	width: 100%;
	background-color: #ffffff;
	margin:0 0 0 0;
}

h2.formInfo
{
	text-align: left;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	font-size:20px;
	position:relative;
	left:20px;
	top:0px;
	letter-spacing: 1px;
	line-height:150%;
	color: #ffffff;
}


p.formInfo
{
	text-align: left;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #000000;
	font-size:12px;
	position:relative;
	left:20px;
	top:0px;
	color: #ffffff;
}

#formFields
{
	position: relative;
	width: 100%;
	background-color: #ffffff;
	margin:0 0 0 0;

}

label.formFieldQuestion
{
	line-height:125%;
	padding:0 4px 1px 0;
	border:none;	
	display:block;
	font-size:95%;
	font-weight:bold;
}

label.formFieldOption
{
	font-size:90%;
	display:block;
	line-height:1.0em;
	margin:-19px 0 0 25px;
	padding:4px 0 5px 0;
	width:90%;
}



input.formFieldStyle
{
	display:block;
	line-height:1.4em;
	margin:8px 0 0 3px;
	width:13px;
	height:13px;
}


/* tooltip */
a.info {
	font-family: Tahoma, Arial, Sans-Serif;
	text-decoration:none; 
	position: relative;
}

a.info span {
	position: relative;
	display:none;
}

a.info:hover {
	position: relative;
	cursor:default;
}

a.info:hover .infobox1 {
	font-weight: normal; 
	display:block; 
	position:absolute; 
	top:-3px;;
	left:25px;
	width:300px; 
	height:54px; 
	border: 1px solid #ccc; 
	background:#f4f4f4 no-repeat bottom right; 
	color:#000; 
	text-align:left; 
	font-size:0.7em; 
	padding-left:10px; 
	padding-top:2px;
}

a.info:hover .infobox2 {
	font-weight: normal; 
	display:block; 
	position:absolute; 
	top:-10px;;
	left:25px;
	width:280px; 
	height:23px; 
	border: 1px solid #ccc; 
	background:#f4f4f4 no-repeat bottom right; 
	color:#000; 
	text-align:left; 
	font-size:0.7em; 
	padding-left:10px; 
	padding-top:5px;
}

a.info:hover .infobox3 {
	font-weight: normal; 
	display:block; 
	position:absolute; 
	top:-10px;;
	left:25px;
	width:220px; 
	height:40px; 
	border: 1px solid #ccc; 
	background:#f4f4f4 no-repeat bottom right; 
	color:#000; 
	text-align:left; 
	font-size:0.7em; 
	padding-left:10px; 
	padding-top:5px;
}

a.info:hover .infobox4 {
	font-weight: normal; 
	display:block; 
	position:absolute; 
	top:-3px;;
	left:25px;
	width:260px; 
	height:60px; 
	border: 1px solid #ccc; 
	background:#f4f4f4 no-repeat bottom right; 
	color:#000; 
	text-align:left; 
	font-size:0.7em; 
	padding-left:10px; 
	padding-top:2px;
}

/* pop-up calendar */
button.calendarStyle
{
	background-color: transparent;
	border: 0;
	height:22px;
	width:22px;
	background-image:url(imgs/calendar.png);
	cursor: pointer;
	cursor: hand;
}


p.footer
{
	text-align: right;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #ffffff;
	font-size:9px;
	position:relative;
	top:4px;
	left:-140px;
	letter-spacing: 2px;
}

a.footer
{
	text-align: right;
	margin:0 0 0 0;
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight:normal;
	color: #ffffff;
	font-size:9px;
	position:relative;
	top:4px;
	letter-spacing: 2px;
}
