
#mypapers {
    font-family: Verdana, Arial, sans-serif; 
    font-size: 9pt; 
}


#mypapers ul {line-height:1.7em;}

#mypapers a:link, a:visited, a:active {text-decoration: none; font-weight: bold; color: 404040}
#mypapers a:hover {color: black }

#mypapers au_highlight {color: black}

#mypapers au, so {color: #404040;}


