{% extends "base.html" %}

{% block main %}
	<h3>About</h3>	

	<p>
	This web application was written by <a href="http://www.biostat.jhsph.edu/~maryee">Martin Aryee</a> to generate the publication list at <a href="http://www.biostat.jhsph.edu/~maryee/index.php/Main/Publications">http://www.biostat.jhsph.edu/~maryee/index.php/Main/Publications</a>. It runs on <a href="http://code.google.com/appengine/">Google App Engine</a>.
	</p>
	<br>
	<p><strong>Contact:</strong></p>
	<img style="float:left" src="static/email.png"/>
	<a href="http://code.google.com/appengine/"><img style="float:right" src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" 
	alt="Powered by Google App Engine" /></a>
	<br>
	<br>
{% endblock %}