<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta name="Description" content="Embed an academic publication list in your website by adding two lines of code. Optimized for biomedical, pubmed indexed papers.">
	<title>My Papers: Easily embed your publication list in a web page</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link href="/static/form/style.css" rel="stylesheet" type="text/css">

	{% block head %}	
	{% endblock %}

    <script type="text/javascript">
      // Google Analytics tracking code
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18249603-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</head>

<body>
	<div id="mainForm">
		<a href="about" class="headerlink">About</a>	
		<a href="faq" class="headerlink">FAQ</a>	
	  	<h1>
			<a href="/" id="title">My Papers</a>
			<div id="subhead">Embed your publication list in a web page</div>		
		</h1>
		<hr>
	  	
	    {% block main %}
		{% endblock %}
	</div>
</body>
</html>

