{% extends "base.html" %}

{% block main %}
	<h3>Frequently Asked Questions</h3>	

	<h4>Can you host my publication list for me so that I can link to it?</h4>
	No - This service requires you to maintain your own webpage to host the publication list. There are other sites that will host your publication list however, e.g. <a href="http://publicationslist.org/">http://publicationslist.org/</a>.
		
	
	<br>
	<br>
{% endblock %}