{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="/static/mypapers.css" />
	<script type="text/javascript" src="/static/form/form.js"></script>
	<script type="text/javascript" src="/static/search_url.js"></script>
{% endblock %}

{% block main %}

	<h3>What is it?</h3>
	<p>	
		<em>My Papers</em> lets you insert a publication list into any webpage (for free) by adding two lines of code. It requires you to either (a) use a simple Pubmed author search to select the list of papers, or (b)  use <a href="http://www.nlm.nih.gov/pubs/techbull/so09/so09_my_ncbi_my_bib.html">MyNCBI</a> to maintain a personal publication list.  Use the form below to generate your publication list html code. The list on your webpage will update automatically as new papers become available.
	</p>		

	<h3>Example</h3>	
	<p>The html in bold generates a publication list for the author 'MJ Aryee':</p>
	<pre><code>
  &lt;html&gt;
    &lt;body&gt;
      <strong>&lt;script type=text/javascript src="http://my-papers.appspot.com/search/author=aryee_mj"&gt;&lt;/script&gt;	
      &lt;div id="mypapers"&gt;Loading papers...&lt;/div&gt;</strong>
    &lt;/body&gt;
  &lt;/html&gt;
  	</code></pre>

	<h3>Generate your publication list</h3>

	<ol>
	<li>
		Configure publication list:
	</li>

	<!-- begin form -->
		  <div >
			<fieldleft class="mainForm" id="authorBox">
				<label class="formFieldQuestion">Author Name(s)&nbsp;*&nbsp;
					<a class=info href=#>
						<img src=static/form/imgs/tip_small.png border=0>
						<span class=infobox1>Author’s last name plus initials without punctuation. Use commas to separate multiple names.<br>e.g. Pihur V, Aryee MJ</span>
					</a>
				</label>
				<input class=mainForm type=text name=author id=author size='25' value='Aryee MJ'>
			</fieldleft>
			
			<fieldcenter class="mainForm">
				AND/OR
			</fieldcenter>
	
			<fieldright class="mainForm" id="collectionBox">
				<label class="formFieldQuestion"><a href="http://www.nlm.nih.gov/pubs/techbull/so09/so09_my_ncbi_my_bib.html">MyNCBI</a> collection URL
					<a class=info href=#>
						<img src=static/form/imgs/tip_small.png border=0>
						<span class=infobox4>Use this if you maintain a publication list through MyNCBI. Enter the full URL or just the collection ID. e.g. 1PWO8ufvtwA758lS19mylhF</span>
					</a>
				</label>
				<input class=mainForm type=text name=collection id=collection size='45' value=''>
			</fieldright>
		  </div>	
		  <div class="twocols">	
			
			<fieldfull class="mainForm" id="maxAuthorsBox">
				<label class="formFieldQuestion">Max authors to list per paper
					<a class=info href=#>
						<img src=static/form/imgs/tip_small.png border=0>
						<span class=infobox2>Longer author lists will be truncated with 'and others'</span>
					</a>
				</label>
				<input class=mainForm type=text name=max_authors id=max_authors size='3' value='10'>
			</fieldfull>

			<fieldfull class="mainForm" id="footerBox">
				<label class="formFieldQuestion">Include My Papers footer
					<a class=info href=#>
						<img src=static/form/imgs/tip_small.png border=0>
						<span class=infobox3>This displays a small footer that says: "Publication list generated by My Papers."</span>
					</a>	
				</label>
				<span>
					<input class=mainForm type=checkbox name=footer id=footer value="true" checked=true/>
					<label class=formFieldOption for="footer_option_1">Yes</label>
				</span>
			</fieldfull>
		  </div>
           
	
	
	<div class="twocols">
	<li>
		<input type='button' id='codebutton' onclick='updateUrl()' value='Generate code and preview results' />
	</li>
	</div>

	<li>
		<p>
		<div id="search_url_title">
			<h4>Paste code into your HTML page</h4>
		</div>
		<div id="search_url"></div>
		<div id="preview_title"  style="visibility:hidden">
			<p>The red lines above will generate these results:</p>
		</div>
		</p>
	</li>
	</ol>
	<div id="preview"></div>
	

{% endblock %}
